[Unit]
Description=Pi-hole Tor DNS stack (Docker Compose)
Requires=docker.service pihole-tor-vlans.service
After=docker.service pihole-tor-vlans.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ project_dest }}
RemainAfterExit=yes
ExecStart=/usr/bin/bash {{ project_dest }}/ops/scripts/22-stack-service.sh up
ExecStop=/usr/bin/bash {{ project_dest }}/ops/scripts/22-stack-service.sh down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
